.cards.svelte-171l7w4{display:flex;flex-direction:column}.card.svelte-171l7w4{display:block;border-bottom:1px solid #444;padding:20px 0}.tool-logo.svelte-171l7w4{width:200px}.tool-logo.svelte-171l7w4:hover{border:none}
